/build/*
/.qmake.stash
/Makefile
/kodigui
/.qtcreator/*
/.qtc_clangd/*
/m3u8interceptor.o
/main.o
/mainwindow.o
/moc_m3u8interceptor.cpp
/moc_m3u8interceptor.o
/moc_mainwindow.cpp
/moc_mainwindow.o
/moc_playerwindow.cpp
/moc_playerwindow.o
/moc_predefs.h
/playerwindow.o
/qrc_resource.cpp
/qrc_resource.o
/ui_kodigui.h
/ui_playerwindow.h